body {
    font-family: sans-serif;
    text-align: center;
  }
  
  .container {
    margin-top: 0;
    margin-bottom: 1rem;
    background-color: yellow;
    height: 100px;
    font-size: larger;
    padding: 2.5rem;
  }
  input {
    margin: 10px;
    padding: 1rem;
    width: 50%;
    text-align: center;
    border-bottom-style: solid;
  }

  #translationOutput{
      text-align: center;
      font-size: larger;
      font-weight: bold;
  }